@use "colorsFonts";
@import "_header.scss";
@import "_bluebar.scss";
@import "_section1.scss";
@import "_greybar.scss";
@import "_section2.scss";
@import "_section3.scss";
@import "_card.scss";
@import "_section4.scss";


body {
    color: white;
    font-family: colorsFonts.$main-font;
}

button {
    height: 60px;
    width: 150px;
    background-color: colorsFonts.$main-blue;
    border: none;
    font-family: colorsFonts.$secondary-font;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: white;
}

button:hover {
    background-color: colorsFonts.$accent-blue;
}

li, a {
    text-decoration: none;
    font-family: colorsFonts.$secondary-font;
    font-size: 14px;
    color: white;
}

a:hover {
    text-decoration: underline;
}